---
title: List
---

<!--  Online -->
<div class="container pt">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">

			<!-- @人事 -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/jinji.png">
				</div>
				<div class="col-xs-10 col-sm-8 update"> 
					@人事ONLINE</br>
					<a href="https://at-jinji.jp/blog/">https://at-jinji.jp/blog/</a> 
				</div>
			</div>			

			<div class="row mt">
				<div class="col-sm-10">
					<ul>
						<% data.jinji.each do |e| %>
						<li><%= e.date %></br><a href="<%= e.link %>"><%= e.title %></a></li>
						<% end %>
					</ul>
				</div>
			</div>				 			
 			
		</div><!-- /col-lg-10 -->
	</div><!-- /row -->
</div> <!-- /container -->
