---
title: Work
---

<!--  Online -->
<div class="container pt">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Online</h3>
			
			<!-- Shigotano -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/nokiba_r.jpg">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					シゴタノ（火・木更新）</br>
					<a href="http://cyblog.jp/modules/weblogs/">http://cyblog.jp/modules/weblogs/</a> 
				</div>
			</div>
			
			<!-- Twitter -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/Twitter_Logo.png">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					Twitter （@nokiba）</br>
					<a href="https://twitter.com/nokiba">https://twitter.com/nokiba</a> 
				</div>
			</div>
			
			<!-- Facebook -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/facebook_logo.png">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					Facebook</br>
					<a href="https://www.facebook.com/shogo.sasaki">https://www.facebook.com/shogo.sasaki</a> 
				</div>
			</div>		
			
			<!-- はてなブログ -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/hatenablog-logo.png">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					はてなブログ（毎日？更新）</br>
					<a href="http://nokiba.hatenablog.jp/">http://nokiba.hatenablog.jp/</a> 
				</div>
			</div>

			<!-- @人事 -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/jinji.png">
				</div>
				<div class="col-xs-10 col-sm-8 update"> 
					@人事ONLINE</br>
					<a href="https://at-jinji.jp/blog/">https://at-jinji.jp/blog/</a></br> 
					<a href="online_list.html"> >> 記事一覧</a>
				</div>
			</div>			
			
			<!-- note -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/note_logo.jpg">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					note（毎週2回更新）</br>
					倉下忠憲・佐々木正悟からお届けする働く人のためのMP戦略マガジン。</br>
					<a href="https://note.mu/nokiba/m/m3221b02820a1">働く人のMP戦略</a> 
				</div>
			</div>
						
			<!-- ライフハック情報整理マガジン -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/newshack_logo.png">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					ライフハック情報整理マガジン</br>
					<a href="https://www.newshack.info/">https://www.newshack.info/</a> 
				</div>
			</div>
			
			<!-- CHANGES -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/changes.png">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					CHANGES（火曜更新）</br>
					<a href="https://changes.jp">https://changes.jp</a>
				</div>
			</div>	
						
			<!-- のきばトーク -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/nokiba_r.jpg">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					のきばトーク（月曜放送）</br>
					<a href="https://www.youtube.com/channel/UCGkCXUzUm5y_lmIZsiOumww">YouTube</a></br>
					<a href="https://scrapbox.io/nokibatalk/">まとめページ</a>  
				</div>
			</div>		
			
			<!-- Previous -->	
			</br>
			<h5 style="color:#3D4D20">更新終了</h5>		
			<!-- Medium -->
			<div class="row mt">
				<div class="col-xs-2">
					<img class="img-responsive update-img" src="images/medium-log.png">
				</div>
				<div class="col-xs-10 col-sm-8 update">
					Medium</br>
					<a href="https://medium.com/@nokiba">https://medium.com/@nokiba</a> 
				</div>
			</div>
			<div class="row mt">
				<div class="col-xs-12">								
					日経Woman
 					<ul>
   						<li><a href="http://wol.nikkeibp.co.jp/article/column/20110908/113935/">自分が変わる！生活が変わる習慣心理学</a></li>
   						<li><a href="http://wol.nikkeibp.co.jp/article/column/20140515/180761/">毎日が変わる！スマホ＆タブレット活用術</a></li>
 					</ul>
					Biz ID
 					<ul>
   						<li><a href="http://www.itmedia.co.jp/keywords/anxiety_estimate.html">あなたの不安、見積もります</a></li>
   						<li><a href="http://www.itmedia.co.jp/bizid/articles/1009/21/news012.html">マンガでわかる！ スピード仕事術</a></li>
 					</ul>
					マイナビ
 					<ul>
   						<li><a href="http://news.mynavi.jp/series/hacks/menu.html">Google世代の整理術</a></li>
   						<li><a href="http://news.mynavi.jp/series/lifehacktalk/menu.html">佐々木正悟×堀E正岳 ライフハック・トーク</a></li>
 					</ul>
				</div>
			</div> 			
 			
		</div><!-- /col-lg-10 -->
	</div><!-- /row -->
</div> <!-- /container -->


<!--  Seminar -->
<div class="container pt">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Seminar</h3>
			
			<ul>
			<% data.seminar[0...5].each do |s| %>
					<li><span style="display: inline-block; width: 10em;"><%= s.date %></span><a href="<%= s.url %>"><%= s.title %></a></li>
			<% end %>
			</ul>
			等。
		</div><!-- /col-lg-10 -->
		
	</div><!-- /row -->
</div> <!-- /container -->


<!--  Books -->
<div class="container pt">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Books</h3>		
			
			<div>
				<a href="books.html"> 著書一覧</a>
			</div>
			
		</div><!-- /col-lg-10 -->
	</div><!-- /row -->
</div> <!-- /container -->

	
